// Icon Sheet
#iconsheet-hidden {
	display: none;
}

#toolbar {
	position: sticky;
	top: 0;
	background: white;
	z-index: 20;
	padding: 1.5em 1em;
	display: grid;
	grid-template-areas: 'filter filter' 'shortcuts settings';
	grid-template-columns: minmax(1em, max-content) minmax(min-content, auto);
	row-gap: 0.5em;
	column-gap: 1.5em;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

	@media only screen and (max-width: 550px) {
		grid-template-areas: 'filter filter' 'shortcuts shortcuts' 'settings settings';
	}

	#filter {
		grid-area: filter;

		.more {
			height: 0;
			will-change: height;
			transition: 0.3s ease height;
			overflow: hidden;
			&.searching {
				height: 5em;
			}

			.no-results {
				text-align: center;
				height: 5em;
				line-height: 2em;
				margin: 1.5em;
				opacity: 0.5;
				user-select: none;
			}
		}

		input {
			width: 100%;
			font-size: 1.1em;
			line-height: 1;
			padding: 0.6em 0.4em;
			display: block;
			font-weight: 400;
			border: 1px solid #ced4da;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border-radius: 0.25rem;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
			&:focus {
				color: #212529;
				background-color: #fff;
				border-color: #86b7fe;
				outline: 0;
				box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
			}
			&::-webkit-search-cancel-button {
				-webkit-appearance: none;
				height: 1em;
				width: 1em;
				border-radius: 10px;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' /%3E%3C/svg%3E");
				background-size: contain;
			}
		}
	}

	#shortcuts {
		grid-area: shortcuts;
		display: flex;
		flex-wrap: wrap;
		column-gap: 0.4em;
		row-gap: 0.4em;
		font-size: 0.8em;
		.cat-shortcut {
			appearance: none;
			-webkit-appearance: none;
			border: 0;
			color: black;
			text-decoration: none;
			display: block;
			padding: 0.5em 0.5em;
			line-height: 1;
			background-color: #e7e7e7;
			will-change: background-color;
			transition: 0.5s ease background-color;
			border-radius: 6px;
			cursor: pointer;
			&.active {
				background-color: rgb(139, 212, 157);
			}
		}
	}

	#settings {
		grid-area: settings;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		column-gap: 1rem;
		button {
			background: gray;
			color: white;
			appearance: none;
			border: 0;
			border-radius: 3px;
			padding: 0.2rem 0.6rem;
			cursor: pointer;
		}
	}
}

.modal-container {
	.modal-backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		z-index: 1000;
	}

	.modal {
		// Modal for icon settings (#settings)
		position: fixed;
		z-index: 1001;
		max-width: 1200px;
		width: calc(100% - 1rem);
		max-height: calc(100% - 2rem);
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
		background-color: white;
		padding: 1rem 2rem;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
		.close {
			display: block;
			position: absolute;
			right: 1rem;
			top: 1rem;
			background: transparent;
			border: none;
			cursor: pointer;
			font-size: 1.5rem;
		}

		h1,
		h2,
		h3 {
			font-weight: 600;
		}

		&.settings {
			height: 100%;
			padding: 0;
			display: grid;
			grid-template-columns: 4fr 5fr;
			column-gap: 1em;

			.config {
				overflow: auto;
				height: 100%;
				padding: 2rem 3rem;
				padding-right: 0;
				h1 {
					margin: 0;
					margin-bottom: 0.4rem;
				}
				h2,
				h3 {
					margin-bottom: 0.5rem;
				}
				p.description {
					font-style: italic;
					font-size: 12px;
					margin-top: 0;
					margin-bottom: 1.5rem;
				}
			}

			.preview {
				overflow: auto;
				height: 100%;
				background-color: #e7e7e7;
				padding: 0 3rem;
				border-bottom-right-radius: 1rem;
				h1 {
					margin-top: 2rem;
				}
				.preview-contents {
					background-color: white;
					padding: 1em;
					border-radius: 4px;
					box-shadow: 0px 1.9px 2.4px rgba(0, 0, 0, 0.028), 0px 6.5px 8px rgba(0, 0, 0, 0.042),
						0px 29px 36px rgba(0, 0, 0, 0.07);
					user-select: none;
				}
				.canvas-styles {
					color: #2d3b45;
					-webkit-font-smoothing: antialiased;
					font-family: LatoWeb, 'Lato Extended', Lato, 'Helvetica Neue', Helvetica, Arial,
						sans-serif;

					h1,
					h2,
					.h1,
					.h2 {
						font-size: 1.8em;
						line-height: 1.5;
					}

					h3,
					.h3 {
						font-size: 1.5em;
					}
					h1,
					h2,
					h3,
					h4,
					h5,
					h6 {
						margin: 6px 0;
						font-family: 'Lato Extended', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
						font-weight: normal;
						line-height: 1.5;
						text-rendering: optimizelegibility;
						clear: both;
					}
					.example-grid {
						display: grid;
						grid-template-columns: 6fr 4fr;
						column-gap: 1rem;
						margin: 1rem 0;
						p {
							margin: 0;
							@media screen and (min-width: 900px) {
								&::after {
									content: 'Duis aute irure dolor in reprehenderit in voluptate velit. Excepteur sint occaecat cupidatat non proident, sunt in culpa. Animi, id est laborum et dolorum  . Lorem ipsum dolor sit amet, consectetur adipisicing elit.';
								}
							}
						}
						.example {
							border-radius: 0.3rem;
							background-image: url('/img/lorempicture.jpeg');
							background-size: cover;
							background-position: center;
							// object-fit: cover;
							// min-height: 100px;
							height: 100%;
							width: 100%;
						}
					}
				}
				.icon-wrap {
					&.showPadding {
						// &:nth-child(1) {
						// 	display: block;
						// }
						// display: none;
						position: relative;
						&::before {
							content: ' ';
							display: block;
							position: absolute;
							z-index: 1;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background-color: rgb(170, 207, 255);
							border: 1px dashed rgb(16, 119, 255);
						}
						&::after {
							content: ' ';
							display: block;
							position: absolute;
							z-index: 2;
							top: var(--iconPadding);
							left: var(--iconPadding);
							width: calc(100% - var(--iconPadding) * 2);
							height: calc(100% - var(--iconPadding) * 2);
							background-color: rgba(255, 255, 255, 1);
							border: 1px solid rgb(16, 119, 255);
						}
						& > * {
							z-index: 3;
							position: relative;
						}
					}
				}
			}
		}
	}
}

.form-control {
	margin-bottom: 2rem;
	label {
		display: block;
		&.inline {
			display: inline-block;
		}
		.icon {
			padding: 0.4rem;
			vertical-align: middle;
		}
		.manualEdit {
			float: right;
			input {
				border-radius: 3px;
				border: 1px solid black;
				display: inline;
				max-width: 3em;
				text-overflow: ellipsis;
				text-align: center;
				height: 1.9em;
				margin-top: -0.15rem;
				transition: 0.25s ease border-color, 0.25s ease border-width, 0.25s ease box-shadow;
				box-shadow: inset 0 0 0 0 #0000000d;
				&:disabled {
					color: transparent;
					border-color: #00000045 !important;
					box-shadow: inset 0 0 20px 1em #0000000d;
				}
			}
			.units {
				// Equalize widths of em/px
				width: 2em;
				display: inline-block;
			}
			// Hide spinner on numeric input - https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
			/* Chrome, Safari, Edge, Opera */
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			/* Firefox */
			input[type='number'] {
				-moz-appearance: textfield;
			}
		}
	}
	.input-prefix {
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: 0.5em;
		width: 100%;
	}
	input[type='range'] {
		width: 100%;
		margin: 0;
	}
	button {
		transition: 0.2s ease background, 0.3s ease color;
		background: white;
		border: 1px solid black;
		appearance: none;
		padding: 0.2rem 0.3rem;
		cursor: pointer;
		user-select: none;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		border-radius: 4px;
		margin: 0.1rem;
		font-size: 0.7em;
		&:active,
		&.active {
			background: black;
			color: white;
		}
		span {
			font-size: 0.7em;
			bottom: 0.15em;
			position: relative;
			font-weight: bolder;
			padding: 0 0.3rem;
		}
	}
	.btn-row {
		display: inline-block;
		display: inline-flex;
		overflow: auto;
		width: fit-content;
	}
}

.shadowbox {
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000012;
	z-index: 10;
	visibility: hidden;
	&.searching {
		visibility: visible;
	}
}

.category {
	margin-top: -10em;
	padding-top: 10em;
	.cat-header {
		display: grid;
		grid-template-columns: auto 1fr auto;
		column-gap: 1em;
		align-items: center;
		padding: 0 1em;
		background: #f3f3f3;

		.total {
			background-color: #0000000d;
			padding: 0.4em 0.6em;
			border-radius: 0.3em;
		}

		.matched {
			font-weight: normal;
		}
	}
}

footer {
	margin: 3em;
	text-align: center;
	font-size: 0.8em;
	a {
		text-decoration: none;
	}
}

// https://css-tricks.com/how-to-create-a-skip-to-content-link/
.skip-to-nav-link {
	background: #e77e23;
	color: white;
	text-decoration: none;
	line-height: 1;
	height: 1.8em;
	left: 0%;
	padding: 0.4em;
	border-top-right-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
	position: absolute;
	transform: translateX(-100%);
	transition: transform 0.3s;
	&:focus {
		transform: translateX(0%);
	}
}
