html {
	scroll-behavior: smooth;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
		helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	margin: 0;
}
* {
	box-sizing: border-box;
}

.btn {
	background: gray;
	color: white;
	appearance: none;
	border: 0;
	border-radius: 3px;
	padding: 0.2rem 0.6rem;
	cursor: pointer;
	border: 1px solid black;
	&.btn-success {
		background: rgb(85, 165, 28);
		border: 1px solid rgb(85, 165, 28);
	}
	&.btn-danger {
		background: rgb(210, 73, 42);
		border: 1px solid rgb(210, 73, 42);
	}
	&.btn-outline {
		transition: 0.2s ease background, 0.3s ease color;
		background: rgba(255, 255, 255, 0.5);
		color: black;
	}
	&.btn-lg {
		font-size: 1em;
		padding: 0.4em 1em;
	}
	span {
		vertical-align: middle;
	}
}

.form-control {
	margin-bottom: 2rem;
	label {
		display: block;
		&.inline {
			display: inline-block;
		}
		.icon {
			padding: 0.4rem;
			vertical-align: middle;
		}
		.manualEdit {
			float: right;
			input {
				border-radius: 3px;
				border: 1px solid black;
				display: inline;
				max-width: 3em;
				text-overflow: ellipsis;
				text-align: center;
				height: 1.9em;
				margin-top: -0.15rem;
				transition: 0.25s ease border-color, 0.25s ease border-width, 0.25s ease box-shadow;
				box-shadow: inset 0 0 0 0 #0000000d;
				&:disabled {
					color: transparent;
					border-color: #00000045 !important;
					box-shadow: inset 0 0 20px 1em #0000000d;
				}
			}
			.units {
				// Equalize widths of em/px
				width: 2em;
				display: inline-block;
			}
			// Hide spinner on numeric input - https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
			/* Chrome, Safari, Edge, Opera */
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			/* Firefox */
			input[type='number'] {
				-moz-appearance: textfield;
			}
		}
	}
	.input-prefix {
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: 0.5em;
		width: 100%;
	}
	input[type='range'] {
		width: 100%;
		margin: 0;
	}
	button {
		transition: 0.2s ease background, 0.3s ease color;
		background: rgba(255, 255, 255, 0.5);
		border: 1px solid black;
		appearance: none;
		padding: 0.2rem 0.3rem;
		cursor: pointer;
		user-select: none;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		border-radius: 4px;
		margin: 0.1rem;
		font-size: 0.7em;
		&:active,
		&.active {
			background: black;
			color: white;
		}
		span {
			font-size: 0.7em;
			bottom: 0.15em;
			position: relative;
			font-weight: bolder;
			padding: 0 0.3rem;
		}
	}
	.btn-row {
		display: inline-block;
		display: inline-flex;
		overflow: auto;
		width: fit-content;
	}
}
